body {
    background-color: black;
}

#header {
    font-family: fantasy;
    background-color: black;
    color: #FA8072;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 200%;
}

#content {
    background-color: black;
    color: #FA8072;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    text-align: center;
    margin-top: 100px;
    font-size: 200%;
}

#picture {
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}